
*{
    font-family: 'Heebo', sans-serif;
}

.center-all{

    align-self: center!important;
}

.selected {
    background-color: #FF6E4E;
}

.text-selected{
    color: #FF6E4E!important;
}

.bg-img-fono{
    background-image: url('img/fon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-color: #101010;
}

.pup {
    top: -22px;
    right: 0px;
}

.fg-35{
    font-size: 35px!important;
}